
<subtitle>
   A simple <strong>breadcrumb</strong> component to improve your navigation experience
</subtitle>


<div class="bd-docs-content bd-content algolia-content">
    





















   <div class="content">
     <p>
       The Bulma <strong>breadcrumb</strong> is a simple navigation component that only requires a <code>breadcrumb</code> container and a <code>ul</code> list. The dividers are automatically created in the content of the <code>::before</code> pseudo-element of <code>li</code> tags.
     </p>
     <p>You can inform the current page using the <code>is-active</code> modifier in a <code>li</code> tag. It will disable the navigation of inner links.</p>
   </div>
   
   <hr>
   <div class="
     bd-snippet
     bd-is-horizontal
     
     bd-is-clipped
     bd-is-size-3
     ">
     <div class="bd-snippet-example">
       <p class="bd-snippet-title">
         <span class="bd-snippet-tag bd-is-example">Example</span>
       </p>
   
       <div class="bd-snippet-preview">
         
           
   <nav class="breadcrumb" aria-label="breadcrumbs">
     <ul>
       <li><a href="#">Bulma</a></li>
       <li><a href="#">Documentation</a></li>
       <li><a href="#">Components</a></li>
       <li class="is-active"><a href="#" aria-current="page">Breadcrumb</a></li>
     </ul>
   </nav>
   
         
       </div>
     </div>
   
     <div class="bd-snippet-source">
       <p class="bd-snippet-title">
         <span class="bd-snippet-tag bd-is-html">HTML</span>
       </p>
   
       <div class="
           bd-snippet-code
           
           
         ">
         <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;nav</span> <span class="na">class=</span><span class="s">"breadcrumb"</span> <span class="na">aria-label=</span><span class="s">"breadcrumbs"</span><span class="nt">&gt;</span>
     <span class="nt">&lt;ul&gt;</span>
       <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Bulma<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
       <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Documentation<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
       <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Components<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
       <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"is-active"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">aria-current=</span><span class="s">"page"</span><span class="nt">&gt;</span>Breadcrumb<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
     <span class="nt">&lt;/ul&gt;</span>
   <span class="nt">&lt;/nav&gt;</span></code></pre><button class="button bd-copy">Copy</button></figure>
       </div>
     </div>
   </div>
   
   
   <h3 id="alignment" class="title is-4 is-spaced bd-anchor-title">
     <span class="bd-anchor-name">
       Alignment
     </span>
     <a class="bd-anchor-link" href="#alignment">
       #
     </a>
     
   </h3>
   
   
   <div class="content">
     <p>For alternative alignments, use the <code>is-centered</code> and <code>is-right</code> modifiers on the <code>breadcrumb</code> container.</p>
   </div>
   
   <div class="
     bd-snippet
     bd-is-horizontal
     
     bd-is-clipped
     bd-is-size-3
     ">
     <div class="bd-snippet-example">
       <p class="bd-snippet-title">
         <span class="bd-snippet-tag bd-is-example">Example</span>
       </p>
   
       <div class="bd-snippet-preview">
         
           
   <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
     <ul>
       <li><a href="#">Bulma</a></li>
       <li><a href="#">Documentation</a></li>
       <li><a href="#">Components</a></li>
       <li class="is-active"><a href="#" aria-current="page">Breadcrumb</a></li>
     </ul>
   </nav>
   
         
       </div>
     </div>
   
     <div class="bd-snippet-source">
       <p class="bd-snippet-title">
         <span class="bd-snippet-tag bd-is-html">HTML</span>
       </p>
   
       <div class="
           bd-snippet-code
           
           
         ">
         <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;nav</span> <span class="na">class=</span><span class="s">"breadcrumb is-centered"</span> <span class="na">aria-label=</span><span class="s">"breadcrumbs"</span><span class="nt">&gt;</span>
     <span class="nt">&lt;ul&gt;</span>
       <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Bulma<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
       <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Documentation<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
       <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Components<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
       <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"is-active"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">aria-current=</span><span class="s">"page"</span><span class="nt">&gt;</span>Breadcrumb<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
     <span class="nt">&lt;/ul&gt;</span>
   <span class="nt">&lt;/nav&gt;</span></code></pre><button class="button bd-copy">Copy</button></figure>
       </div>
     </div>
   </div>
   
   
   <div class="
     bd-snippet
     bd-is-horizontal
     
     bd-is-clipped
     bd-is-size-3
     ">
     <div class="bd-snippet-example">
       <p class="bd-snippet-title">
         <span class="bd-snippet-tag bd-is-example">Example</span>
       </p>
   
       <div class="bd-snippet-preview">
         
           
   <nav class="breadcrumb is-right" aria-label="breadcrumbs">
     <ul>
       <li><a href="#">Bulma</a></li>
       <li><a href="#">Documentation</a></li>
       <li><a href="#">Components</a></li>
       <li class="is-active"><a href="#" aria-current="page">Breadcrumb</a></li>
     </ul>
   </nav>
   
         
       </div>
     </div>
   
     <div class="bd-snippet-source">
       <p class="bd-snippet-title">
         <span class="bd-snippet-tag bd-is-html">HTML</span>
       </p>
   
       <div class="
           bd-snippet-code
           
           
         ">
         <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;nav</span> <span class="na">class=</span><span class="s">"breadcrumb is-right"</span> <span class="na">aria-label=</span><span class="s">"breadcrumbs"</span><span class="nt">&gt;</span>
     <span class="nt">&lt;ul&gt;</span>
       <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Bulma<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
       <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Documentation<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
       <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Components<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
       <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"is-active"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">aria-current=</span><span class="s">"page"</span><span class="nt">&gt;</span>Breadcrumb<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
     <span class="nt">&lt;/ul&gt;</span>
   <span class="nt">&lt;/nav&gt;</span></code></pre><button class="button bd-copy">Copy</button></figure>
       </div>
     </div>
   </div>
   
   
   <h3 id="icons" class="title is-4 is-spaced bd-anchor-title">
     <span class="bd-anchor-name">
       Icons
     </span>
     <a class="bd-anchor-link" href="#icons">
       #
     </a>
     
   </h3>
   
   
   <div class="content">
     <p>You can use any of the <a href="https://fontawesome.com/" target="_blank">Font Awesome</a> <strong>icons</strong>.</p>
   </div>
   
   <div class="
     bd-snippet
     bd-is-horizontal
     
     bd-is-clipped
     bd-is-size-3
     ">
     <div class="bd-snippet-example">
       <p class="bd-snippet-title">
         <span class="bd-snippet-tag bd-is-example">Example</span>
       </p>
   
       <div class="bd-snippet-preview">
         
           
   <nav class="breadcrumb" aria-label="breadcrumbs">
     <ul>
       <li>
         <a href="#">
           <span class="icon is-small">
             <i class="fas fa-home" aria-hidden="true"></i>
           </span>
           <span>Bulma</span>
         </a>
       </li>
       <li>
         <a href="#">
           <span class="icon is-small">
             <i class="fas fa-book" aria-hidden="true"></i>
           </span>
           <span>Documentation</span>
         </a>
       </li>
       <li>
         <a href="#">
           <span class="icon is-small">
             <i class="fas fa-puzzle-piece" aria-hidden="true"></i>
           </span>
           <span>Components</span>
         </a>
       </li>
       <li class="is-active">
         <a href="#">
           <span class="icon is-small">
             <i class="fas fa-thumbs-up" aria-hidden="true"></i>
           </span>
           <span>Breadcrumb</span>
         </a>
       </li>
     </ul>
   </nav>
   
         
       </div>
     </div>
   
     <div class="bd-snippet-source">
       <p class="bd-snippet-title">
         <span class="bd-snippet-tag bd-is-html">HTML</span>
       </p>
   
       <div class="
           bd-snippet-code
           
           
         ">
         <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;nav</span> <span class="na">class=</span><span class="s">"breadcrumb"</span> <span class="na">aria-label=</span><span class="s">"breadcrumbs"</span><span class="nt">&gt;</span>
     <span class="nt">&lt;ul&gt;</span>
       <span class="nt">&lt;li&gt;</span>
         <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>
           <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"icon is-small"</span><span class="nt">&gt;</span>
             <span class="nt">&lt;i</span> <span class="na">class=</span><span class="s">"fas fa-home"</span> <span class="na">aria-hidden=</span><span class="s">"true"</span><span class="nt">&gt;&lt;/i&gt;</span>
           <span class="nt">&lt;/span&gt;</span>
           <span class="nt">&lt;span&gt;</span>Bulma<span class="nt">&lt;/span&gt;</span>
         <span class="nt">&lt;/a&gt;</span>
       <span class="nt">&lt;/li&gt;</span>
       <span class="nt">&lt;li&gt;</span>
         <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>
           <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"icon is-small"</span><span class="nt">&gt;</span>
             <span class="nt">&lt;i</span> <span class="na">class=</span><span class="s">"fas fa-book"</span> <span class="na">aria-hidden=</span><span class="s">"true"</span><span class="nt">&gt;&lt;/i&gt;</span>
           <span class="nt">&lt;/span&gt;</span>
           <span class="nt">&lt;span&gt;</span>Documentation<span class="nt">&lt;/span&gt;</span>
         <span class="nt">&lt;/a&gt;</span>
       <span class="nt">&lt;/li&gt;</span>
       <span class="nt">&lt;li&gt;</span>
         <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>
           <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"icon is-small"</span><span class="nt">&gt;</span>
             <span class="nt">&lt;i</span> <span class="na">class=</span><span class="s">"fas fa-puzzle-piece"</span> <span class="na">aria-hidden=</span><span class="s">"true"</span><span class="nt">&gt;&lt;/i&gt;</span>
           <span class="nt">&lt;/span&gt;</span>
           <span class="nt">&lt;span&gt;</span>Components<span class="nt">&lt;/span&gt;</span>
         <span class="nt">&lt;/a&gt;</span>
       <span class="nt">&lt;/li&gt;</span>
       <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"is-active"</span><span class="nt">&gt;</span>
         <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>
           <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"icon is-small"</span><span class="nt">&gt;</span>
             <span class="nt">&lt;i</span> <span class="na">class=</span><span class="s">"fas fa-thumbs-up"</span> <span class="na">aria-hidden=</span><span class="s">"true"</span><span class="nt">&gt;&lt;/i&gt;</span>
           <span class="nt">&lt;/span&gt;</span>
           <span class="nt">&lt;span&gt;</span>Breadcrumb<span class="nt">&lt;/span&gt;</span>
         <span class="nt">&lt;/a&gt;</span>
       <span class="nt">&lt;/li&gt;</span>
     <span class="nt">&lt;/ul&gt;</span>
   <span class="nt">&lt;/nav&gt;</span></code></pre><button class="button bd-copy">Copy</button></figure>
       </div>
     </div>
   </div>
   
   
   <h3 id="alternative-separators" class="title is-4 is-spaced bd-anchor-title">
     <span class="bd-anchor-name">
       Alternative separators
     </span>
     <a class="bd-anchor-link" href="#alternative-separators">
       #
     </a>
     
   </h3>
   
   
   <div class="content">
     <p>You can choose between <strong>4 additional separators</strong>: <code>has-arrow-separator</code> <code>has-bullet-separator</code> <code>has-dot-separator</code> and <code>has-succeeds-separator</code>.</p>
   </div>
   
   <div class="
     bd-snippet
     bd-is-horizontal
     
     bd-is-clipped
     bd-is-size-3
     ">
     <div class="bd-snippet-example">
       <p class="bd-snippet-title">
         <span class="bd-snippet-tag bd-is-example">Example</span>
       </p>
   
       <div class="bd-snippet-preview">
         
           
   <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
     <ul>
       <li><a href="#">Bulma</a></li>
       <li><a href="#">Documentation</a></li>
       <li><a href="#">Components</a></li>
       <li class="is-active"><a href="#" aria-current="page">Breadcrumb</a></li>
     </ul>
   </nav>
   
         
       </div>
     </div>
   
     <div class="bd-snippet-source">
       <p class="bd-snippet-title">
         <span class="bd-snippet-tag bd-is-html">HTML</span>
       </p>
   
       <div class="
           bd-snippet-code
           
           
         ">
         <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;nav</span> <span class="na">class=</span><span class="s">"breadcrumb has-arrow-separator"</span> <span class="na">aria-label=</span><span class="s">"breadcrumbs"</span><span class="nt">&gt;</span>
     <span class="nt">&lt;ul&gt;</span>
       <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Bulma<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
       <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Documentation<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
       <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Components<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
       <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"is-active"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">aria-current=</span><span class="s">"page"</span><span class="nt">&gt;</span>Breadcrumb<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
     <span class="nt">&lt;/ul&gt;</span>
   <span class="nt">&lt;/nav&gt;</span></code></pre><button class="button bd-copy">Copy</button></figure>
       </div>
     </div>
   </div>
   
   
   <div class="
     bd-snippet
     bd-is-horizontal
     
     bd-is-clipped
     bd-is-size-3
     ">
     <div class="bd-snippet-example">
       <p class="bd-snippet-title">
         <span class="bd-snippet-tag bd-is-example">Example</span>
       </p>
   
       <div class="bd-snippet-preview">
         
           
   <nav class="breadcrumb has-bullet-separator" aria-label="breadcrumbs">
     <ul>
       <li><a href="#">Bulma</a></li>
       <li><a href="#">Documentation</a></li>
       <li><a href="#">Components</a></li>
       <li class="is-active"><a href="#" aria-current="page">Breadcrumb</a></li>
     </ul>
   </nav>
   
         
       </div>
     </div>
   
     <div class="bd-snippet-source">
       <p class="bd-snippet-title">
         <span class="bd-snippet-tag bd-is-html">HTML</span>
       </p>
   
       <div class="
           bd-snippet-code
           
           
         ">
         <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;nav</span> <span class="na">class=</span><span class="s">"breadcrumb has-bullet-separator"</span> <span class="na">aria-label=</span><span class="s">"breadcrumbs"</span><span class="nt">&gt;</span>
     <span class="nt">&lt;ul&gt;</span>
       <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Bulma<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
       <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Documentation<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
       <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Components<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
       <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"is-active"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">aria-current=</span><span class="s">"page"</span><span class="nt">&gt;</span>Breadcrumb<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
     <span class="nt">&lt;/ul&gt;</span>
   <span class="nt">&lt;/nav&gt;</span></code></pre><button class="button bd-copy">Copy</button></figure>
       </div>
     </div>
   </div>
   
   
   <div class="
     bd-snippet
     bd-is-horizontal
     
     bd-is-clipped
     bd-is-size-3
     ">
     <div class="bd-snippet-example">
       <p class="bd-snippet-title">
         <span class="bd-snippet-tag bd-is-example">Example</span>
       </p>
   
       <div class="bd-snippet-preview">
         
           
   <nav class="breadcrumb has-dot-separator" aria-label="breadcrumbs">
     <ul>
       <li><a href="#">Bulma</a></li>
       <li><a href="#">Documentation</a></li>
       <li><a href="#">Components</a></li>
       <li class="is-active"><a href="#" aria-current="page">Breadcrumb</a></li>
     </ul>
   </nav>
   
         
       </div>
     </div>
   
     <div class="bd-snippet-source">
       <p class="bd-snippet-title">
         <span class="bd-snippet-tag bd-is-html">HTML</span>
       </p>
   
       <div class="
           bd-snippet-code
           
           
         ">
         <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;nav</span> <span class="na">class=</span><span class="s">"breadcrumb has-dot-separator"</span> <span class="na">aria-label=</span><span class="s">"breadcrumbs"</span><span class="nt">&gt;</span>
     <span class="nt">&lt;ul&gt;</span>
       <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Bulma<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
       <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Documentation<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
       <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Components<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
       <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"is-active"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">aria-current=</span><span class="s">"page"</span><span class="nt">&gt;</span>Breadcrumb<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
     <span class="nt">&lt;/ul&gt;</span>
   <span class="nt">&lt;/nav&gt;</span></code></pre><button class="button bd-copy">Copy</button></figure>
       </div>
     </div>
   </div>
   
   
   <div class="
     bd-snippet
     bd-is-horizontal
     
     bd-is-clipped
     bd-is-size-3
     ">
     <div class="bd-snippet-example">
       <p class="bd-snippet-title">
         <span class="bd-snippet-tag bd-is-example">Example</span>
       </p>
   
       <div class="bd-snippet-preview">
         
           
   <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
     <ul>
       <li><a href="#">Bulma</a></li>
       <li><a href="#">Documentation</a></li>
       <li><a href="#">Components</a></li>
       <li class="is-active"><a href="#" aria-current="page">Breadcrumb</a></li>
     </ul>
   </nav>
   
         
       </div>
     </div>
   
     <div class="bd-snippet-source">
       <p class="bd-snippet-title">
         <span class="bd-snippet-tag bd-is-html">HTML</span>
       </p>
   
       <div class="
           bd-snippet-code
           
           
         ">
         <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;nav</span> <span class="na">class=</span><span class="s">"breadcrumb has-succeeds-separator"</span> <span class="na">aria-label=</span><span class="s">"breadcrumbs"</span><span class="nt">&gt;</span>
     <span class="nt">&lt;ul&gt;</span>
       <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Bulma<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
       <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Documentation<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
       <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Components<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
       <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"is-active"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">aria-current=</span><span class="s">"page"</span><span class="nt">&gt;</span>Breadcrumb<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
     <span class="nt">&lt;/ul&gt;</span>
   <span class="nt">&lt;/nav&gt;</span></code></pre><button class="button bd-copy">Copy</button></figure>
       </div>
     </div>
   </div>
   
   
   <h3 id="sizes" class="title is-4 is-spaced bd-anchor-title">
     <span class="bd-anchor-name">
       Sizes
     </span>
     <a class="bd-anchor-link" href="#sizes">
       #
     </a>
     
   </h3>
   
   
   <div class="content">
     <p>You can choose between <strong>3 additional sizes</strong>: <code>is-small</code> <code>is-medium</code> and <code>is-large</code>.</p>
   </div>
   
   <div class="
     bd-snippet
     bd-is-horizontal
     
     bd-is-clipped
     bd-is-size-3
     ">
     <div class="bd-snippet-example">
       <p class="bd-snippet-title">
         <span class="bd-snippet-tag bd-is-example">Example</span>
       </p>
   
       <div class="bd-snippet-preview">
         
           
   <nav class="breadcrumb is-small" aria-label="breadcrumbs">
     <ul>
       <li><a href="#">Bulma</a></li>
       <li><a href="#">Documentation</a></li>
       <li><a href="#">Components</a></li>
       <li class="is-active"><a href="#" aria-current="page">Breadcrumb</a></li>
     </ul>
   </nav>
   
         
       </div>
     </div>
   
     <div class="bd-snippet-source">
       <p class="bd-snippet-title">
         <span class="bd-snippet-tag bd-is-html">HTML</span>
       </p>
   
       <div class="
           bd-snippet-code
           
           
         ">
         <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;nav</span> <span class="na">class=</span><span class="s">"breadcrumb is-small"</span> <span class="na">aria-label=</span><span class="s">"breadcrumbs"</span><span class="nt">&gt;</span>
     <span class="nt">&lt;ul&gt;</span>
       <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Bulma<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
       <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Documentation<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
       <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Components<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
       <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"is-active"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">aria-current=</span><span class="s">"page"</span><span class="nt">&gt;</span>Breadcrumb<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
     <span class="nt">&lt;/ul&gt;</span>
   <span class="nt">&lt;/nav&gt;</span></code></pre><button class="button bd-copy">Copy</button></figure>
       </div>
     </div>
   </div>
   
   
   <div class="
     bd-snippet
     bd-is-horizontal
     
     bd-is-clipped
     bd-is-size-3
     ">
     <div class="bd-snippet-example">
       <p class="bd-snippet-title">
         <span class="bd-snippet-tag bd-is-example">Example</span>
       </p>
   
       <div class="bd-snippet-preview">
         
           
   <nav class="breadcrumb is-medium" aria-label="breadcrumbs">
     <ul>
       <li><a href="#">Bulma</a></li>
       <li><a href="#">Documentation</a></li>
       <li><a href="#">Components</a></li>
       <li class="is-active"><a href="#" aria-current="page">Breadcrumb</a></li>
     </ul>
   </nav>
   
         
       </div>
     </div>
   
     <div class="bd-snippet-source">
       <p class="bd-snippet-title">
         <span class="bd-snippet-tag bd-is-html">HTML</span>
       </p>
   
       <div class="
           bd-snippet-code
           
           
         ">
         <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;nav</span> <span class="na">class=</span><span class="s">"breadcrumb is-medium"</span> <span class="na">aria-label=</span><span class="s">"breadcrumbs"</span><span class="nt">&gt;</span>
     <span class="nt">&lt;ul&gt;</span>
       <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Bulma<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
       <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Documentation<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
       <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Components<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
       <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"is-active"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">aria-current=</span><span class="s">"page"</span><span class="nt">&gt;</span>Breadcrumb<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
     <span class="nt">&lt;/ul&gt;</span>
   <span class="nt">&lt;/nav&gt;</span></code></pre><button class="button bd-copy">Copy</button></figure>
       </div>
     </div>
   </div>
   
   
   <div class="
     bd-snippet
     bd-is-horizontal
     
     bd-is-clipped
     bd-is-size-3
     ">
     <div class="bd-snippet-example">
       <p class="bd-snippet-title">
         <span class="bd-snippet-tag bd-is-example">Example</span>
       </p>
   
       <div class="bd-snippet-preview">
         
           
   <nav class="breadcrumb is-large" aria-label="breadcrumbs">
     <ul>
       <li><a href="#">Bulma</a></li>
       <li><a href="#">Documentation</a></li>
       <li><a href="#">Components</a></li>
       <li class="is-active"><a href="#" aria-current="page">Breadcrumb</a></li>
     </ul>
   </nav>
   
         
       </div>
     </div>
   
     <div class="bd-snippet-source">
       <p class="bd-snippet-title">
         <span class="bd-snippet-tag bd-is-html">HTML</span>
       </p>
   
       <div class="
           bd-snippet-code
           
           
         ">
         <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;nav</span> <span class="na">class=</span><span class="s">"breadcrumb is-large"</span> <span class="na">aria-label=</span><span class="s">"breadcrumbs"</span><span class="nt">&gt;</span>
     <span class="nt">&lt;ul&gt;</span>
       <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Bulma<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
       <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Documentation<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
       <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Components<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
       <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"is-active"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">aria-current=</span><span class="s">"page"</span><span class="nt">&gt;</span>Breadcrumb<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
     <span class="nt">&lt;/ul&gt;</span>
   <span class="nt">&lt;/nav&gt;</span></code></pre><button class="button bd-copy">Copy</button></figure>
       </div>
     </div>
   </div>
   
   
   
   
   
   
   
   
     <div class="bd-vars">
       <h3 id="variables" class="title is-4 is-spaced bd-anchor-title">
     <span class="bd-anchor-name">
       Variables
     </span>
     <a class="bd-anchor-link" href="#variables">
       #
     </a>
     
   </h3>
   
   
       <div class="bd-var bd-is-head">
         <div class="bd-var-name">
           Name
         </div>
         <div class="bd-var-type">
           Type
         </div>
         <div class="bd-var-value">
           Value
         </div>
         <div class="bd-var-computed-value">
           Computed Value
         </div>
         <div class="bd-var-computed-type">
           Computed Type
         </div>
       </div>
       
         
           
           <div class="bd-var bd-is-body">
     <div class="bd-var-name"><figure class="highlight"><pre><code class="language-css" data-lang="css"><span class="err">$</span><span class="nt">breadcrumb-item-color</span></code></pre><button class="button bd-copy">Copy</button></figure></div>
     <div class="bd-var-type bd-is-variable">variable</div>
     <div class="bd-var-value"><figure class="highlight"><pre><code class="language-css" data-lang="css"><span class="err">$</span><span class="nt">link</span></code></pre><button class="button bd-copy">Copy</button></figure></div>
     <div class="bd-var-computed-value"><figure class="highlight"><pre><code class="language-css" data-lang="css"><span class="nt">hsl</span><span class="o">(</span><span class="err">229</span><span class="o">,</span> <span class="err">53</span><span class="o">%,</span>  <span class="err">53</span><span class="o">%)</span></code></pre><button class="button bd-copy">Copy</button></figure></div>
     <div class="bd-var-computed-type bd-is-color">color</div>
   </div>
   
         
           
           <div class="bd-var bd-is-body">
     <div class="bd-var-name"><figure class="highlight"><pre><code class="language-css" data-lang="css"><span class="err">$</span><span class="nt">breadcrumb-item-hover-color</span></code></pre><button class="button bd-copy">Copy</button></figure></div>
     <div class="bd-var-type bd-is-variable">variable</div>
     <div class="bd-var-value"><figure class="highlight"><pre><code class="language-css" data-lang="css"><span class="err">$</span><span class="nt">link-hover</span></code></pre><button class="button bd-copy">Copy</button></figure></div>
     <div class="bd-var-computed-value"><figure class="highlight"><pre><code class="language-css" data-lang="css"><span class="nt">hsl</span><span class="o">(</span><span class="err">0</span><span class="o">,</span> <span class="err">0</span><span class="o">%,</span> <span class="err">21</span><span class="o">%)</span></code></pre><button class="button bd-copy">Copy</button></figure></div>
     <div class="bd-var-computed-type bd-is-color">color</div>
   </div>
   
         
           
           <div class="bd-var bd-is-body">
     <div class="bd-var-name"><figure class="highlight"><pre><code class="language-css" data-lang="css"><span class="err">$</span><span class="nt">breadcrumb-item-active-color</span></code></pre><button class="button bd-copy">Copy</button></figure></div>
     <div class="bd-var-type bd-is-variable">variable</div>
     <div class="bd-var-value"><figure class="highlight"><pre><code class="language-css" data-lang="css"><span class="err">$</span><span class="nt">text-strong</span></code></pre><button class="button bd-copy">Copy</button></figure></div>
     <div class="bd-var-computed-value"><figure class="highlight"><pre><code class="language-css" data-lang="css"><span class="nt">hsl</span><span class="o">(</span><span class="err">0</span><span class="o">,</span> <span class="err">0</span><span class="o">%,</span> <span class="err">21</span><span class="o">%)</span></code></pre><button class="button bd-copy">Copy</button></figure></div>
     <div class="bd-var-computed-type bd-is-color">color</div>
   </div>
   
         
           
           <div class="bd-var bd-is-body">
     <div class="bd-var-name"><figure class="highlight"><pre><code class="language-css" data-lang="css"><span class="err">$</span><span class="nt">breadcrumb-item-padding-vertical</span></code></pre><button class="button bd-copy">Copy</button></figure></div>
     <div class="bd-var-type bd-is-string">string</div>
     <div class="bd-var-value"><figure class="highlight"><pre><code class="language-css" data-lang="css"><span class="err">0</span></code></pre><button class="button bd-copy">Copy</button></figure></div>
     <div class="bd-var-computed-value"><figure class="highlight"><pre><code class="language-css" data-lang="css"></code></pre><button class="button bd-copy">Copy</button></figure></div>
     <div class="bd-var-computed-type bd-is-"></div>
   </div>
   
         
           
           <div class="bd-var bd-is-body">
     <div class="bd-var-name"><figure class="highlight"><pre><code class="language-css" data-lang="css"><span class="err">$</span><span class="nt">breadcrumb-item-padding-horizontal</span></code></pre><button class="button bd-copy">Copy</button></figure></div>
     <div class="bd-var-type bd-is-size">size</div>
     <div class="bd-var-value"><figure class="highlight"><pre><code class="language-css" data-lang="css"><span class="err">0</span><span class="o">.</span><span class="err">75</span><span class="nt">em</span></code></pre><button class="button bd-copy">Copy</button></figure></div>
     <div class="bd-var-computed-value"><figure class="highlight"><pre><code class="language-css" data-lang="css"></code></pre><button class="button bd-copy">Copy</button></figure></div>
     <div class="bd-var-computed-type bd-is-"></div>
   </div>
   
         
           
           <div class="bd-var bd-is-body">
     <div class="bd-var-name"><figure class="highlight"><pre><code class="language-css" data-lang="css"><span class="err">$</span><span class="nt">breadcrumb-item-separator-color</span></code></pre><button class="button bd-copy">Copy</button></figure></div>
     <div class="bd-var-type bd-is-variable">variable</div>
     <div class="bd-var-value"><figure class="highlight"><pre><code class="language-css" data-lang="css"><span class="err">$</span><span class="nt">border-hover</span></code></pre><button class="button bd-copy">Copy</button></figure></div>
     <div class="bd-var-computed-value"><figure class="highlight"><pre><code class="language-css" data-lang="css"><span class="nt">hsl</span><span class="o">(</span><span class="err">0</span><span class="o">,</span> <span class="err">0</span><span class="o">%,</span> <span class="err">71</span><span class="o">%)</span></code></pre><button class="button bd-copy">Copy</button></figure></div>
     <div class="bd-var-computed-type bd-is-color">color</div>
   </div>
   
         
       
     </div>
   
   
   
     </div>
   
     
   
   
   
   
   
   
   
   
   
   
   
   
   <!-- Previous link -->
   <!-- If first index in list -->
   
   
   <!-- Next link -->
   <!-- If last index in list -->
   
   
   
     
       <nav class="bd-docs-pagination bd-pagination-links">
         
           
           <a class="button bd-fat-button is-primary is-light bd-pagination-prev" href="https://bulma.io/documentation/elements/title/" title="Title">
             <i>←</i>
             <span>
               <em>elements:</em>
               <strong>Title</strong>
             </span>
           </a>
         
   
         
           
           <a class="button bd-fat-button is-primary is-light bd-pagination-next" href="https://bulma.io/documentation/components/card/" title="Card">
             <span>
               <em>components:</em>
               <strong>Card</strong>
             </span>
             <i>→</i>
           </a>
         
       </nav>
     
   
   
   
     <div id="typo" class="bd-docs-typo">
     <p class="has-text-grey-light">
       <a class="is-pulled-right" href="https://bulma.io/made-with-bulma/">
         <img src="https://bulma.io/images/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
       </a>
       This page is <strong class="has-text-grey">open source</strong>.
       Noticed a typo? Or something unclear?
       <br>
       <a class="has-text-grey" href="https://github.com/jgthms/bulma/blob/master/docs/documentation/components/breadcrumb.html" style="border-bottom: 1px solid currentColor;">
         Improve this page on GitHub
       </a>
     </p>
   </div>
   
   